body {
	background-color:#f9f5a7;
}
.table1{
	margin:0px auto;
	border-collapse:collapse;
	width:900px;
}
.maintable{
	
	background-color:black;
	padding:5px 2px 0px 2px;
	}
.maincontent{
	padding:10px;
}
.mainmenu{
	background-color:gray;
}
.title{
	padding:10px;
	color:red;
}
.titleblack{
	padding:30px 10px 30px 0px;
	color:black;
}

.titlecontent{
	padding:10px;
	font-family:"arial";
	font-size:13px;
}

.navtitle{
	padding:10px;
	
}
.navtitle a{
	text-decoration:none;
	color:black;
}
.navtitle a:hover{
	text-decoration:none;
	color:orange;
	
}
.link{
	padding:5px;	
}
.link a{
	text-decoration:none;
	color:gray;	
}
.link a:hover{
	text-decoration:none;
	color:black;
	
}
.footer
{
	background-color:black;
	color:white;
}
