body{ background-color:#B9CD68; }
.maintable{ margin:0px auto; border-collapse:collapse; width:900px; }
.navbar{ background-color:#151A0C; padding:15px 5px;}
.navlink{color:#EFEFEE; font-size:12px; font-family:Arial}
.navlink a{color:#EFEFEE; text-decoration:none; padding:0px 35px;}
.navlink a:hover{color:white; text-decoration:none;}
.content{padding:20px; background-color:#E5EFD0;}
.title{font-size:20px; font-family:Arial; color:#242523;}
.paragraph{font-size:10px; font-family:Arial; color:#525451; line-height:20px;}
.paragraph1{font-size:10px; font-family:Arial; color:#525451; padding-right:20px; line-height:20px;}
.more{font-size:12px; padding:10px 10px 10px 0px;}
.more a{color:#242523; text-decoration:none;}
.more a:hover{color:#242523; text-decoration:underline;}
.link{padding:5px 5px 5px 0px; font-size:10px; font-family:Arial; color:#525451;}
.link a{color:#525451; text-decoration:underline;}
.link a:hover{color:#525451; text-decoration:none;}
.footer{font-size:12px; font-family:Arial; height:50px; background-color:#E5EFD0; color:#525451;}
.footer a{text-decoration:underline; color:#637618;}
.footer a:hover{text-decoration:none; color:#637618;}


